@model IEnumerable<OrderModel>
@{
    ViewData["title"] = "List History";
}
<h3>List History by @ViewBag.UserEmail</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order Code</th>
            <th scope="col">Shipping Cost</th>
            <th scope="col">Coupon Code</th>
            <th scope="col">UserName</th>          
            <th scope="col">Order Status</th>
            <th scope="col">Order Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <th>@item.OrderCode</th>
                <th>@item.ShippingCost.ToString("#,##0 VNĐ")</th>
                <th>@item.CouponCode</th>
                <td>@item.UserName</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else if(item.Status == 2)
                    {
                        <span class="text text-primary">Đã xử lý</span>
                    }
                    else
                    {
                        <span class="text text-danger">Đã hủy</span>
                    }
                </td>
                <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                <td>
                    @if(item.Status != 3)
                    {
                    <a class="btn btn-danger btn-sm" asp-action="CancelOrder" asp-controller="Account" asp-route-ordercode="@item.OrderCode">Cancel</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

