
@model IEnumerable<OrderDetails>
@{
    ViewData["title"] = "Order Details";
    decimal total = 0;
    decimal subtotal = 0;
}
<h3>Order Detail</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Order Code</th>
            <th scope="col">UserName</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            subtotal = item.Quantity * item.Price;
            total += subtotal;
            <tr>
                <input  type="hidden" asp-for="@item.OrderCode" class="getId"/>
                <th>@item.Id</th>
                <th>@item.OrderCode</th>
                <td>@item.UserName</td>
                <td>@item.Product.Name</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@subtotal.ToString("C")</td>          
            </tr>
        }
    <th colspan="5">Total :</th>
    <td>@subtotal.ToString("C")</td>
    <td>
        <select class="form-control select-update-order">
            <option value="1">Đơn hàng mới</option>
            <option value="0">Đã xử lý</option>
        </select>
    </td>
    <a class="btn btn-primary" href="Index">Quay về</a>
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.select-update-order').change(function () {
                var status = $(this).val();
                var ordercode = $('.getId').val();
                alert(status)
                alert(ordercode)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateOrder")",
                    data: { status: status, ordercode: ordercode },
                    success: function (result) {
                        if (result.success) {
                            Swal.fire("Cập nhật đơn hàng thành công")
                            
                        }
                        else {
                            Swal.fire("Cập nhật đơn hàng thất bại " + result.message)
                        }
                    },
                    Error: function (req, status, error) {
                        console.log("Error updating order:", error);
                    }
                });
            });
                });
    </script>
}

