@model IEnumerable<ProductModel>
<div class="col-sm-3">
	@Html.Partial("_SideBarPartial")
</div>

<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">Features Items</h2>
		@foreach (var item in Model)
		{
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">

						<div class="productinfo text-center">
							<a asp-action="Details" asp-controller="Product" asp-route-ID="@item.Id">
								<img src="~/images/@item.Image" alt="@item.Name" style="width:200px; height:150px; object-fit:cover;" />
								<h2>$@item.Price.ToString("#,##0 VND")</h2>
								<p>@item.Name</p>
								<p>Danh mục : @item.Category.Name</p>
								<p>Thương hiệu : @item.Brand.Name</p>
							</a>
							@if (item.Quantity > 0)
							{
								<button class="btn btn-default add-to-cart" data-product_id="@item.Id"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
								@* <a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-Id="@item.Id"><i class="fa fa-shopping-cart"></i>Add to cart</a> *@
							}
							else
							{
								<button class="btn btn-default"><i class="fa fa-shopping-cart"></i>Hết hàng</button>
							}
						</div>
					</div>

					<div class="choose">
						@if (User.Identity?.IsAuthenticated ?? false)
						{
							<ul class="nav nav-pills nav-justified">
								<li><button class="btn btn-danger add-btn-wishlist" data-product_id="@item.Id">Yêu thích</button></li>
								<li><button class="btn btn-primary add-btn-compare" data-product_id="@item.Id">So sánh</button></li>
							</ul>
						}
					</div>
				</div>
			</div>
			<!--features_items-->
		}


