@model IEnumerable<ProductModel>
<section id="slider">
	<!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#slider-carousel" data-slide-to="1"></li>
						<li data-target="#slider-carousel" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">
						<div class="item active">
							<div class="col-sm-6">
								<h1><span>Technology</span>-SHOPPER</h1>
								<h2>Mua sắm thiết bị công nghệ</h2>
								<p>Kết nối tương lai với thiết bị công nghệ hiện đại – tiện ích vượt mong đợi, phong cách dẫn đầu!</p>
								<button type="button" class="btn btn-default get">Get it now</button>
							</div>
							<div class="col-sm-6">
								<img src="~/images/default/girl1.jpg" class="girl img-responsive" alt="" />
								<img src="~/images/default/pricing.png" class="pricing" alt="" />
							</div>
						</div>
						<div class="item">
							<div class="col-sm-6">
								<h1><span>Mẫu điện thoại hàng đầu</span>-SHOPPER</h1>
								<h2>100% Responsive Design</h2>
								<p>Sở hữu ngay chiếc điện thoại mơ ước - công nghệ vượt trội, giá cả hợp lý, nâng tầm trải nghiệm cuộc sống!</p>
								<button type="button" class="btn btn-default get">Get it now</button>
							</div>
							<div class="col-sm-6">
								<img src="~/images/default/girl2.jpg" class="girl img-responsive" alt="" />
								<img src="~/images/default/pricing.png" class="pricing" alt="" />
							</div>
						</div>

						<div class="item">
							<div class="col-sm-6">
								<h1><span>Computer</span>-SHOPPER</h1>
								<h2>Máy tính có cấu hình cao</h2>
								<p>Khám phá sức mạnh vượt trội với chiếc máy tính hiện đại – đồng hành hoàn hảo cho công việc và giải trí!</p>
								<button type="button" class="btn btn-default get">Get it now</button>
							</div>
							<div class="col-sm-6">
								<img src="images/default/girl3.jpg" class="girl img-responsive" alt="" />
								<img src="images/default/pricing.png" class="pricing" alt="" />
							</div>
						</div>

					</div>

					<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>

			</div>
		</div>
	</div>
</section><!--/slider-->
<div class="col-sm-3">
	@Html.Partial("_SideBarPartial")
</div>
<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items--> 
		<h2 class="title text-center">Features Items</h2>
		@foreach (var item in Model)
		{
			<div class="col-sm-4">
				<div class="product-image-wrapper">
						<div class="single-products">
							
							<div class="productinfo text-center">
								<a asp-action="Details" asp-controller="Product" asp-route-ID="@item.Id">
								<img src="~/images/@item.Image" alt="@item.Name" style="width:200px; height:150px; object-fit:cover;" />
								<h2>$@item.Price.ToString("#,##0 VND")</h2>
								<p>@item.Name</p>
								<p>Danh mục : @item.Category.Name</p>
								<p>Thương hiệu : @item.Brand.Name</p>
								</a>
								@if(item.Quantity>0){
							<button class="btn btn-default add-to-cart" data-product_id="@item.Id"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
								@* <a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-Id="@item.Id"><i class="fa fa-shopping-cart"></i>Add to cart</a> *@
							}
							else
							{
								<button class="btn btn-default"><i class="fa fa-shopping-cart"></i>Hết hàng</button>
							}
						</div>					
						</div>
					
					<div class="choose">
						@if(User.Identity?.IsAuthenticated ?? false)
						{
						<ul class="nav nav-pills nav-justified">
							<li><button class="btn btn-danger add-btn-wishlist" data-product_id="@item.Id">Yêu thích</button></li>
							<li><button class="btn btn-primary add-btn-compare" data-product_id="@item.Id">So sánh</button></li>
						</ul>
						}
					</div>
				</div>
			</div>
			<!--features_items-->
		}
@section Scripts {
	<script>
		$(document).ready(function () {
			$('.add-to-cart').click(function () {
				var Id = $(this).data("product_id");
				$.ajax({
					type: "POST",
					url: "@Url.Action("Add","Cart")",
					data: { Id: Id },
					success: function (result) {
						if (result) {
							Swal.fire("Thêm vào giỏ hàng thành công.");
						}
					}
				});
			});
				});
	</script>
	<script>
				$(document).ready(function () {
					$('.add-btn-wishlist').click(function () {
						var Id = $(this).data("product_id");
						$.ajax({
							type: "POST",
							url: "@Url.Action("AddWishlist", "Home")",
							data: { Id: Id },
							success: function (result) {
								if (result) {
									Swal.fire("Thêm yêu thích thành công.");
								}
							}
						});
					});
				});
	</script>
	<script>
				$(document).ready(function () {
					$('.add-btn-compare').click(function () {
						var Id = $(this).data("product_id");
						$.ajax({
							type: "POST",
							url: "@Url.Action("AddCompare", "Home")",
							data: { Id: Id },
							success: function (result) {
								if (result) {
									Swal.fire("Thêm so sánh thành công.");
								}
							}
						});
					});
				});
	</script>
}
